.title-form {
font-size: 21px;
line-height: 28px;
padding: 10px;
color: #3b3b3b;
margin: 5px 0px 0px 45px;
}


.login { 
 width: 250px;
 height: 10px;
 padding: 10px;
 margin: 5px 0px 0px 45px;
}

.password { 
    width: 250px;
    height: 10px;
    padding: 10px;
    margin: 5px 0px 0px 45px;
}

.repassword { 
    width: 250px;
    height: 10px;
    padding: 10px;
    margin: 5px 0px 0px 45px;
   }

.submit-registration {
    padding: 5px;  
    text-align: right;
    margin: 5px 0px 0px 193px;
}

.submit-registration:hover
{
    background: #eeeeee;
}